@import "tailwindcss";



@theme inline {
  --color-primary: #F28123;
  --color-bg-section: #f5f5f5;
  --color-bg-footer: #051922;
  --color-bg-gray: #f5f5f5;
  --color-bg-section: #07212e;
}



/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */